@if (!isLoading() && faceItems().length === 0) {
  <div class="face-grid__empty">
    <p>Keine Gesichter gefunden.</p>
  </div>
}

<div class="face-grid__tiles">
  @for (face of faceItems(); track trackFace(face)) {
    <pf-face-cell
      [face]="face"
      [cellSize]="CELL_SIZE"
      [selectionMode]="selectionMode()"
      [isSelected]="selectedFaceIdSet().has(face.id)"
      [isArmed]="isArmed()"
      (openFace)="onOpenFace($event)"
      (toggleSelect)="toggleFaceSelect.emit($event)"
      (rangeSelect)="rangeFaceSelect.emit($event)"
    />
  }

  @if (isLoading()) {
    @for (index of [].constructor(skeletonCount); track $index) {
      <div
        class="face-grid__skeleton"
        [style.width.px]="CELL_SIZE"
        [style.height.px]="CELL_SIZE"
      ></div>
    }
  }
</div>

<div #loadSentinel class="face-grid__sentinel"></div>
