<div class="grid__scroll-container" #scrollContainer>
  @if (isEmpty()) {
    <div class="grid__empty">
      <p>Noch keine Bilder importiert.</p>
    </div>
  }

  <div [style.height.px]="virtualizer.getTotalSize()" class="grid__spacer-track">
    @for (vRow of virtualizer.getVirtualItems(); track vRow.key) {
      <div
        class="grid__virtual-row"
        [style.transform]="'translateY(' + vRow.start + 'px)'"
        [style.height.px]="vRow.size"
      >
        @if (rows()[vRow.index]; as row) {
          @for (item of row.items; track item.id) {
            @if (item.kind === 'asset') {
              <pf-galerie-cell
                [asset]="assetOf(item)"
                [baseHeight]="baseHeight()"
                [density]="density()"
                [selectionMode]="selectionMode()"
                [isSelected]="isAssetSelected(item.id)"
                [isArmed]="isArmed()"
                (openAsset)="onOpenAsset($event)"
                (batchBind)="onBatchBind($event)"
                (rangeSelect)="onRangeSelect($event)"
              />
            } @else {
              <div
                class="grid__face-wrapper"
                [style.width.px]="baseHeight()"
                [style.height.px]="baseHeight()"
              >
                <pf-face-cell
                  [face]="faceOf(item)"
                  [cellSize]="baseHeight()"
                  (openFace)="onOpenFace($event)"
                />
              </div>
            }
          }
          <div class="grid__spacer"></div>
        }
      </div>
    }
  </div>

  @if (isLoading()) {
    <div class="grid__skeleton-row">
      @for (cell of skeletonCells; track cell.index) {
        <div
          class="grid__skeleton-cell"
          [style.height.px]="baseHeight()"
          [style.flex-grow]="cell.ratio"
          [style.flex-basis.px]="cell.ratio * baseHeight()"
        ></div>
      }
      <div class="grid__spacer"></div>
    </div>
  }
</div>
